In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import altair as alt
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import seaborn as sns

# Dataframe from the Isotopes herbarium cleaned and all in one.

In [3]:
iso_herb = pd.read_excel("ISOFYS_RECO_herbarium_collections_10072024.xlsx")
cellulosebox = pd.read_excel("ISOFYS_RECO_herbarium_collections_10072024.xlsx")
columns= ["sample-ID","[C] m/m (%)","δ13C (‰ v.s. V-PDB)","code_box","qcazNemonico","run info","run info.1"]
from datetime import datetime
now = datetime.now() # current date and time

date_time = now.strftime("%d%m%Y")
print("date and time:",date_time)

date and time: 21102024

In [4]:

# Seq 2 cleaning
seq2 = pd.read_excel("Results_4sequences.xlsx", sheet_name="seq 2")
#homogenaizing all the columns
#seq 2 file #two rows were manually added.
seq2 = seq2.replace([205235, 69797, 157615, 7008901,186025,654,7747,47154,10640,47818,2994], [205233,64797,197615,214267,186026,132267,133940,133910,133933,132271,132278]) #problemsw with my own numbers. Check cellulose box. 
cellulosebox = cellulosebox[["qcazNemonico","code_box"]] # I want the code box too.

seq2["qcazNemonico"] = "QCA"+seq2["sample-ID"].astype("string")
merged2 = pd.merge(seq2,cellulosebox,how= "inner", left_on="qcazNemonico",right_on="qcazNemonico") #two rows get lost. I think the repetition. 
merged2.to_excel("explore.xlsx")

cleanseq2 = merged2[columns]
cleanseq2.to_excel("check.xlsx")

In [5]:
# Seq 3 cleaning. 
seq3 = pd.read_excel("Results_4sequences.xlsx", sheet_name="seq 3")
seq3 = seq3.replace(["V1","V2","V3", "V4", "V5","V6","V7","V8","V9"], ["V01", "V02","V03", "V04", "V05","V06","V07","V08","V09"])#fixing names

cellulosebox = pd.read_excel("ISOFYS_RECO_herbarium_collections_10072024.xlsx")
cellulosebox = cellulosebox[["qcazNemonico","code_box"]] #96 to 95.

merged3 = pd.merge(seq3,cellulosebox,how= "inner", left_on="sample-ID",right_on="code_box")
cleanseq3 = merged3[columns] #95 rows
cleanseq3

,sample-ID,[C] m/m (%),δ13C (‰ v.s. V-PDB),code_box,qcazNemonico,run info,run info.1
0,M09,0.447519,-28.650893,M09,QCA217420,seq 3,20240621
1,M01,0.479960,-29.519890,M01,QCA140148,seq 3,20240621
2,M02,0.456874,-28.533445,M02,QCA140113,seq 3,20240621
3,M03,0.552040,-29.334601,M03,QCA217447,seq 3,20240621
4,M04,0.453835,-29.105128,M04,QCA233583,seq 3,20240621
...,...,...,...,...,...,...,...
90,V63,0.422279,-25.736224,V63,QCA39328,seq 3,20240621
91,V64,0.424216,-21.047986,V64,QCA39302,seq 3,20240621
92,V07,0.435077,-24.210003,V07,QCA39338,seq 3,20240621
93,V08,0.445329,-27.045691,V08,QCA196974,seq 3,20240621
94,V09,0.422960,-25.768481,V09,QCA236476,seq 3,20240621

In [12]:
#Seq 4 
seq4 = pd.read_excel("Results_4sequences.xlsx", sheet_name="seq 4")
seq4[['code_box', 'sample-ID']] = seq4['sample-ID'].str.split('.', n=1, expand=True)
seq4["qcazNemonico"] = "QCA"+ seq4["sample-ID"].astype('string') #add column qcazNemonico

#add duplicates
#nueva_fila = (seq4.loc[42] + seq4.loc[47]) # 20391 + 20391.b
#seq4.loc['nueva_fila'] = seq4.append(nueva_fila, ignore_index=True)

merged4 = pd.merge(seq4,cellulosebox,how= "inner", left_on="qcazNemonico",right_on="qcazNemonico")#merged4.to_excel("explore.xlsx")
cleanseq4 = seq4[columns]
cleanseq4
len(seq4) #deben ser 62

64

In [13]:
seq4

,number of samples,run info,run info.1,sample-ID,[C] m/m (%),Unnamed: 5,δ13C (‰ v.s. V-PDB),code_box,qcazNemonico
0,271,seq4-part1,20240625.0,149844,0.4395,NaN,-24.75,a1,QCA149844
1,272,seq4-part1,20240625.0,159144,0.4270,NaN,-21.20,a10,QCA159144
2,273,seq4-part1,20240625.0,20440,0.4895,NaN,-23.48,a11,QCA20440
3,274,seq4-part1,20240625.0,223765,0.4449,NaN,-25.73,a12,QCA223765
4,275,seq4-part1,20240625.0,210319,0.4329,NaN,-27.99,a13,QCA210319
...,...,...,...,...,...,...,...,...,...
59,329,seq4-part2,20240625.0,237501,0.4446,NaN,-27.08,a60,QCA237501
60,330,seq4-part2,20240625.0,249210,0.4345,NaN,-20.95,a61,QCA249210
61,331,seq4-part2,20240625.0,216305,0.4658,NaN,-26.64,a62,QCA216305
62,332,seq4-part2,20240625.0,20462,0.4314,NaN,-25.21,a63,QCA20462
63,333,seq4-part2,20240625.0,217330,0.4515,NaN,-24.04,a64,QCA217330

In [14]:
allherb = pd.concat([cleanseq2,cleanseq3,cleanseq4])
len(allherb) #63 alnus, 95 seq3, 86 seq2
name= "Isotope_herbarium_results_"+date_time+".xlsx"
allherb.to_excel(name) #244 obs